@using ADAVIGO_FRONTEND.ViewModels
@model BookingDetailModel

<section class="main-container clearfix">
    <div class="mb16">
        <a class="gray btn btn-default" href="/booking/RequestHotelBooking">
            <svg class="icon-svg min">
                <use xlink:href="/images/icons/icon.svg#prev2"></use>
            </svg>
            <span>Quay lại</span>
        </a>
        <strong class="txt_20" style="margin-left:10px">Đơn hàng: @Model.order.orderNo</strong>
    </div>
    <div class="row detail-order-flight">
        @if (@Model.booking != null)
        {
            <div class="col-md-7 mb16">
                <div class="bg-white pd-20 radius10">
                    <div class="detail-order-flight__left">
                        <div class="mb10 txt_20"><strong>Thông tin đơn hàng</strong></div>
                        <ul>
                            <li class="mb10 flex space-between">
                                <div class="gray">Hạng phòng</div>
                                <div class="bold color-green">@Model.booking.hotelName</div>
                            </li>
                            <li class="mb10 flex space-between">
                                <div class="gray">Số phòng</div>
                                <div>@Model.booking.numberOfRoom</div>
                            </li>
                            <li class="mb10 flex space-between">
                                <div class="gray">Ngày đi</div>
                                <div>@Model.booking.arrivalDate.ToString("dd/MM/yyyy")</div>
                            </li>
                            <li class="mb10 flex space-between">
                                <div class="gray">Ngày về</div>
                                <div>@Model.booking.departureDate.ToString("dd/MM/yyyy")</div>
                            </li>
                            <li class="mb10 flex space-between">
                                <div class="gray">Số người lớn</div>
                                <div>@Model.booking.numberOfAdult</div>
                            </li>
                            <li class="mb10 flex space-between">
                                <div class="gray">Số trẻ em</div>
                                <div>@Model.booking.numberOfChild</div>
                            </li>
                            <li class="mb10 flex space-between">
                                <div class="gray">Số em bé</div>
                                <div>@Model.booking.numberOfInfant</div>
                            </li>
                        </ul>
                        <div class="line-bottom mb16"></div>
                        <ul>
                            <li class="mb10 flex space-between">
                                <div class="gray">Họ và tên trưởng đoàn</div>
                                <div class="bold color-green">@Model.contact.name</div>
                            </li>
                            <li class="mb10 flex space-between">
                                <div class="gray">Số điện thoại</div>
                                <div>@Model.contact.mobile</div>
                            </li>
                            <li class="mb10 flex space-between">
                                <div class="gray">Email</div>
                                <div>@Model.contact.email</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-5 mb16">
                <div class="bg-white pd-20 radius10 mb16">
                    <div class="head-title">
                        <h2 class="title txt_20 bold mb0">Thông tin thanh toán</h2>
                    </div>
                    <div class="row">
                        <div class="col-12 bold mb10">Đơn hàng</div>
                        <div class="col-12">
                            <ul>
                                <li class="mb10 flex space-between">
                                    <div class="gray">Tổng giá trị đơn hàng</div>
                                    <div class="bold color-green">@Model.order.amount.ToString("N0")</div>
                                </li>
                                <li class="mb10 flex space-between">
                                    <div class="gray">Nội dung thanh toán</div>
                                    <div>Thanh toán booking số @Model.order.orderNo</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    @if (Model.booking.status == 0)
                    {
                        @*<div class="line-bottom mb16"></div>
                        <div class="row">
                            <div class="col-12 bold mb10">Hình thức thanh toán</div>
                            <div class="col-12">

                                <div class="bg-white">
                                    <div class="gray">
                                        <p>Sau khi thanh toán đơn hàng bằng tài khoản ngân hàng quý khách chụp lại hóa đơn thanh toán rồi gửi về Adavigo. Adavigo sẽ xác nhận và liên hệ cho quý khách</p>
                                    </div>
                                    <div class="mb10 note-warring">
                                        <svg class="icon-svg mr-1">
                                            <use xlink:href="/images/icons/icon.svg#warring"></use>
                                        </svg> Lưu ý: Vui lòng gửi lại hình ảnh hoá đơn thanh toán
                                    </div>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="customFile">
                                        <label id="label_payment_upload" class="custom-file-label" for="customFile">
                                            <div class="mb24">
                                                <img src="/images/icons/Upload.svg" alt="">
                                            </div>
                                            <div class="bold mb10">Drag & drop files or <a>Browse</a></div>
                                            <div class="gray">Supported formates: JPEG, PNG, GIF, MP4, PDF, PSD, AI, Word, PPT</div>
                                        </label>
                                        <div class="list image_preview_list" style="display:none;">
                                            <div class="item">
                                                <img id="image_payment_preview" src="" alt="">
                                                <a class="delete cursor-pointer" id="btn__delete_image_preview">
                                                    <svg class="icon-svg">
                                                        <use xlink:href="/images/icons/icon.svg#close"></use>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="center">
                                        <button type="button" class="btn btn-default gray size" id="btn_payment_insert_deposit_log">Xác nhận thanh toán đơn hàng</button>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    }
                </div>
            </div>
        }
        else
        {

            <div class="col-12">
                <div class="bg-white pd-20 radius10">
                    <p class="no-result txt_20">Không tồn tại thông tin booking</p>
                </div>
            </div>
        }
    </div>
</section>
