@using LIB.ENTITIES.ViewModels.Hotels
@using LIB.Utilities.Common
@using Newtonsoft.Json
@{
    Layout = null;
    List<HotelExclusiveResponse> data = (List<HotelExclusiveResponse>)ViewBag.Data;
    string name = (string)ViewBag.Location;
    dynamic booking_data = (dynamic)ViewBag.URLBase;

}
@if (data != null && data.Count > 0)
{
    <input class="list-items-detail" value="@data.Count" style="display:none;" />

    foreach (var item in data)
    {
@*         @if (item.min_price <= 0) continue;
 *@        booking_data.hotelID = item.hotel_id;
        booking_data.hotelName = "";
        booking_data.isVinHotel = item.is_vin_hotel;
        <div class="swiper-slide">

            <div class="article-itemt full article-hotel-item" data-id="@item.hotel_id" data-isvin="@item.is_vin_hotel.ToString()" style="min-height:390px" data-star="@item.star">
                <div class="article-thumb">
                    <a class="thumb_img thumb_5x3" href="hotel/detail?filter=@(JsonConvert.SerializeObject(booking_data))">
                        @if (item.img_thumb != null && item.img_thumb.Count > 0)
                        {
                            <img src="@item.img_thumb[0]" alt="">
                        }
                        else
                        {
                            <img src="/images/graphics/thumb1.jpg" alt="">
                        }

                        <div class="tag2">GIÁ ĐỘC QUYỀN</div>
                    </a>
                </div>
                <div class="article-content">
                    <h3 class="title_new" style="height:50px; overflow:hidden;">

                        <a href="hotel/detail?filter=@(JsonConvert.SerializeObject(booking_data))">@item.name</a>
                    </h3>
                    <div class="on-star">
                        @if (item.star > 0)
                        {
                            <div class="star">
                                @for (int i = 0; i < item.star; i++)
                                {
                                    <svg class="icon-svg">
                                        <use xlink:href="/images/icons/icon.svg#star">
                                        </use>
                                    </svg>
                                }
                            </div>
                            <span>(@(item.star <= 0 ? "" : item.star.ToString("N1") + "/5.0"))</span>
                        }
                    </div>
                    <div class="number-vote">
                        <span>(@item.review_count.ToString("N0") đánh giá)</span>
                    </div>
                    <div class="bottom-content">
                        <p class="price-old"></p>
                        @if (item.min_price > 0)
                        {
                            <div class="price" data-price="@item.min_price">@item.min_price.ToString("N0") đ</div>

                        }else{
                            <div class="price" data-price="@item.min_price">Giá liên hệ</div>

                        }
                    </div>
                    <div class="block-code placeholder" style="display:none;">
                        <nw class="block-code-text"></nw><span class="code"></span>
                        <span class="sale"></span>
                        <div class="price-new"></div>
                    </div>
                </div>
            </div>
        </div>

    }
}
