@using ADAVIGO_FRONTEND.Models.Tour.TourDetail
@{
    ViewData["Title"] = "Chi tiết Tour ";
    var from = (TourDetailResponseExtend)ViewBag.Location;
    string imageDomain = (string)ViewBag.ImageDomain;
    string url_by_tour_type = "/tour/tim-kiem?start=-1&end=-1&type=" + from.tourType == null ? "1" : from.tourType.ToString();
}
<section class="section-main clearfix" >
    <div class="container" style=" margin-top:20px;">
        <div class="bg-white pd-24 radius10 mb24">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/tour">Tour</a></li>

                <li class="breadcrumb-item"><a href="@url_by_tour_type">@from.tourTypeName</a></li>
            </ul>
            <h2 class="title-cate txt_28">@from.tourName</h2>
            <div class="mb10 flex align-center article-itemt">
                <div class="article-content pl-0 flex">
                    <div class="on-star mr-3">
                        <div class="star">
                            @{
                                for (int i = 0; i < from.star; i++)
                                {
                                    <svg class="icon-svg">
                                        <use xlink:href="/images/icons/icon.svg#star">
                                        </use>
                                    </svg>
                                }
                            }
                        </div>
                    </div>
                    <div class="number-vote" style="display:none;">
                        <span class="point">0</span>
                        <span>Tuyệt vời (0 đánh giá)</span>
                    </div>
                </div>
            </div>
            <!-- Thư viện ảnh -->
            <div id="lightgallery" class="lightgallery grid grid__2">
                <div class="item" data-src="@(from.avatar != null && from.avatar.Trim() == "" ? imageDomain + from.avatar : "/images/graphics/gallery1.jpg")">
                    <a class="thumb_img thumb_5x3" href="javascripts:;">
                        <img class="img-responsive" src="@imageDomain@from.avatar" alt="">
                    </a>
                </div>
                <div class="grid grid__2">
                    @{
                        if (from.otherImages != null && from.otherImages.Count() > 1)
                        {
                            var count = 0;

                            foreach (var img in from.otherImages)
                            {
                                var dNoneClass = count > 3 ? "d-none" : "";

                                <div class="item @dNoneClass" data-src="@imageDomain@img">
                                    <a class="thumb_img thumb_5x3" href="javascripts:;">
                                        <img class="img-responsive" src="@imageDomain@img" alt="">

                                        @if (count == 3)
                                        {
                                            int remain = from.otherImages.Count() - 4;
                                            <span class="number-img">
                                                + @remain

                                                <svg class="icon-svg">
                                                    <use xlink:href="/images/icons/icon.svg#image"></use>
                                                </svg>
                                            </span>
                                        }
                                    </a>
                                </div>
                                count++;

                            }

                        }
                    }
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-8">

                <!-- update -->
                <div class="box-banggia bg-white pd-20 radius10 mb20">
                    <h3 class="title-cate mb15">Bảng giá</h3>
                    <ul id="tab-banggia-select-month" class="tab-banggia">
                        <li class="item active"><a href="javascript:;">Tất cả</a></li>
                        @if (from.packages != null && from.packages.Count > 0)
                        {
                            var month = from.packages.Select(x => ((DateTime)x.FromDate).Month).Distinct();
                            @foreach (var m in month)
                            {
                                <li class="item" data-id="@m"><a href="javascript:;">Tháng @m</a></li>
                            }
                        }

                    </ul>
                    <table class="tb-banggia" id="by_month-all" style="">
                        <thead>
                            <tr>
                                <th>Ngày<br /> khởi hành</th>
                                <th>Hạng tour</th>
                                <th>Giá tour</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (from.packages != null && from.packages.Count > 0)
                            {
                                @foreach (var item in from.packages)
                                {
                                    <tr class="tr-row" data-is_daily="0" data-id="@item.Id">
                                        <td class="departure-date" data-date="@(((DateTime)item.FromDate).ToString("dd/MM/yyyy"))">@(((DateTime)item.FromDate).ToString("dd/MM/yyyy"))<br />Còn chỗ</td>
                                        <td class="hang-bay">
                                            @* <img src="images/hang-bay/vietjet.png" alt=""> *@
                                            <span>Tiêu chuẩn</span>
                                        </td>
                                        <td class="price">@(((double)item.AdultPrice).ToString("N0"))</td>
                                        <td><a href="/tour/order?id=@from.id&package=@item.Id" class="btn tour-detail-confirm">Giữ chỗ</a></td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                    @if (from.packages != null && from.packages.Count > 0)
                    {
                        var month = from.packages.Select(x => ((DateTime)x.FromDate).Month).Distinct();
                        @foreach (var m in month)
                        {
                            var by_month = from.packages.Where(x => ((DateTime)x.FromDate).Month == m);
                            if (by_month != null && by_month.Count() > 0)
                            {
                                <table class="tb-banggia" id="by_month-@m" style="display:none;">
                                    <thead>
                                        <tr>
                                            <th>Ngày<br /> khởi hành</th>
                                            <th>Hạng tour</th>
                                            <th>Giá tour</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in by_month)
                                        {
                                            <tr data-id="@item.Id">
                                                <td class="departure-date" data-date="@(((DateTime)item.FromDate).ToString("dd/MM/yyyy"))">@(((DateTime)item.FromDate).ToString("dd/MM/yyyy"))<br />Còn chỗ</td>
                                                <td class="hang-bay">
                                                    @* <img src="images/hang-bay/vietjet.png" alt=""> *@
                                                    <span>Tiêu chuẩn</span>
                                                </td>
                                                <td class="price">@(((double)item.AdultPrice).ToString("N0"))</td>
                                                <td><a href="/tour/order?id=@from.id&package=@item.Id" class="btn">Giữ chỗ</a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                        }
                    }


                </div>
                <!-- end update -->


                <div class="detail_tin bg-white pd-20 radius10 mb20">
                    <h3 class="title-cate mb15">Điểm nhấn hành trình</h3>
                    <div class="tour-description">
                        @(Html.Raw(from.description == null ? "" : from.description))

                    </div>

                </div>
                <div class="detail_tin bg-white pd-20 radius10 mb20">
                    <h3 class="title-cate mb15">Lịch trình</h3>
                    <div class="lich-trinh-tour">
                        @{
                            if (from.tourSchedule != null && from.tourSchedule.Count() > 0)
                            {
                                foreach (var schedule in from.tourSchedule)
                                {
                                    <div class="item">
                                        <div class="head-title">
                                            <a class="icon-collapse" data-toggle="collapse" href="#collapseContent-@(schedule.day_num)" aria-expanded="false">
                                                <span class="text">Ngày @schedule.day_num.ToString() : @schedule.day_title</span>
                                                <svg class="icon-svg ml-1">
                                                    <use xlink:href="/images/icons/icon.svg#next2"></use>
                                                </svg>
                                            </a>
                                        </div>
                                        <div class="collapse" id="collapseContent-@(schedule.day_num)">
                                            @(Html.Raw(schedule.day_description))
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>

                <div class="detail_tin bg-white pd-20 radius10 mb20">

                    <div class="h-tag mb20">
                        @if (!(from == null || from.include == null || from.include.Trim() == ""))
                        {
                            <a class="select-tab active" data-id="1" href="javascript:;" onclick="tourDetail.SwitchTab($(this))">Dịch vụ bao gồm</a>

                        }
                        @if (!(from == null || from.exclude == null || from.exclude.Trim() == ""))
                        {
                            <a class="select-tab " data-id="2" href="javascript:;" onclick="tourDetail.SwitchTab($(this))">Dịch vụ không bao gồm</a>

                        }
                        @if (!(from == null || from.refund == null || from.refund.Trim() == ""))
                        {
                            <a class="select-tab " data-id="3" href="javascript:;" onclick="tourDetail.SwitchTab($(this))">Điều kiện hoàn huỷ</a>

                        }
                        @if (!(from == null || from.surcharge == null || from.surcharge.Trim() == ""))
                        {
                            <a class="select-tab " data-id="4" href="javascript:;" onclick="tourDetail.SwitchTab($(this))">Phụ thu</a>

                        }
                        @if (!(from == null || from.note == null || from.note.Trim() == ""))
                        {
                            <a class="select-tab " data-id="5" href="javascript:;" onclick="tourDetail.SwitchTab($(this))">Lưu ý</a>

                        }
                    </div>
                    <ul id="select-tab-1" class="dotted select-tab-tab" style="@(!(from == null || from.include == null || from.include.Trim() == "")?"":"display:none;" )">
                        @(Html.Raw((from.include == null || from.include.Trim() == "" ? "" : from.include)))

                    </ul>
                    <ul id="select-tab-2" class="dotted select-tab-tab" style="display:none;">
                        @(Html.Raw((from.exclude == null || from.exclude.Trim() == "" ? "" : from.exclude)))

                    </ul>
                    <ul id="select-tab-3" class="dotted select-tab-tab" style="display:none;">
                        @(Html.Raw((from.refund == null || from.refund.Trim() == "" ? "" : from.refund)))

                    </ul>
                    <ul id="select-tab-4" class="dotted select-tab-tab" style="display:none;">
                        @(Html.Raw((from.surcharge == null || from.surcharge.Trim() == "" ? "" : from.surcharge)))

                    </ul>
                    <ul id="select-tab-5" class="dotted select-tab-tab" style="display:none;">
                        @(Html.Raw((from.note == null || from.note.Trim() == "" ? "" : from.note)))

                    </ul>
                </div>

            </div>

            <div class="col-md-4">

                <div class="bg-white pd-20 radius10 mb20 sticky" style="top: 70px">
                    <div class="mb16">
                        <strong class="txt_16">Giá tour trọn gói</strong><br>
                        @{
                            if (from.packages.Count > 0)
                            {
                                var prices = from.packages.Where(x => x.AdultPrice != null && (double)x.AdultPrice > 0).Select(x => new { id = x.Id, price = (double)x.AdultPrice, is_daily = false, date = ((DateTime)x.FromDate).ToString("dd/MM/yyyy") }).ToList();
                                var min_price = prices.OrderBy(x => x.price).First();
                                <strong class="txt_36 color-green">@min_price.price.ToString("N0") đ</strong>
                            }
                        }
                    </div>
                    @if (from.packages.Count > 0)
                    {
                        var packages_recent = from.packages.OrderBy(x => x.FromDate).First();

                        <a class="btn-default full mb10 tour-detail-confirm-quick" href="/tour/order?id=@from.id&package=@packages_recent.Id" style="line-height: 1.6;padding: 5px 20px;height:100%;">
                            <ul>
                                <li><div>Đặt tour ngay</div></li>
                                <li><div>Giữ chỗ, chưa cần thanh toán</div></li>
                            </ul>
                        </a>
                    }
                    else
                    {
                        <a class="btn-default full gray size TT-Lien-He" href="javascript:;">Liên hệ tư vấn</a>

                    }
                    <ul class="li-icon mt15 mb0">
                        <li>
                            <svg class="icon-svg">
                                <use xlink:href="/images/icons/icon.svg#date"></use>
                            </svg> <strong>Lịch trình:</strong>
                            @switch (from.tourType)
                            {
                                case 1:
                                    {
                                        @(from.startPoint1 + " - " + from.groupEndPoint1)
                                    }
                                    break;
                                case 2:
                                    {
                                        @(from.startPoint2 + " - " + from.groupEndPoint2)
                                    }
                                    break;
                                case 3:
                                    {
                                        @(from.startPoint3 + " - " + from.groupEndPoint3)
                                    }
                                    break;
                            }


                        </li>
                        <li>
                            <svg class="icon-svg">
                                <use xlink:href="/images/icons/icon.svg#clock"></use>
                            </svg> <strong>Thời gian:</strong> @(from.days + 1) ngày @(from.days) đêm
                        </li>
                        <li>
                            <svg class="icon-svg">
                                <use xlink:href="/images/icons/icon.svg#taxi"></use>
                            </svg> <strong>Khởi hành:</strong> Theo yêu cầu
                        </li>

                    </ul>
                </div>
            </div>
        </div>

        <div class="bg-white pd-24 radius10 mb24" style="display:none;">
            <h2 class="title-cate mb20">Tour liên quan</h2>

        </div>
   </div>

</section>

@section scripts {
    <script src="~/js/modules/tour/constants.js" asp-append-version="true"></script>
    <script src="~/js/modules/tour/global.js" asp-append-version="true"></script>
    <script src="~/js/modules/tour/detail.js" asp-append-version="true"></script>

}