@using ADAVIGO_FRONTEND.ViewModels
@using System.Web
@model HotelDataModel
@{
    int nights = (int)ViewBag.Nights;
}

<input type="hidden" id="hotel_grid_cache_search" value="@Model.cacheId" />
@if (Model.hotels != null && Model.hotels.Any())
{

    foreach (var item in Model.hotels)
    {
        <div class="article-itemt bg-white pd-16 radius10 mb16" data-id="@item.hotel_id">
            <input type="hidden" class="hotel_name" value="@item.name">
            <input type="hidden" class="hotel_address" value="@item.street">
            <input type="hidden" class="hotel_phone" value="@item.telephone">
            <input type="hidden" class="hotel_email" value="@item.email">
            <div class="article-thumb">
                @if (item.img_thumb != null && item.img_thumb.Any())
                {
                    var img = @item.img_thumb.FirstOrDefault(s => !string.IsNullOrEmpty(s));
                    <a class="thumb_img thumb_5x4">
                        <img class="img_rechange_url" src="" data-url="@(img ?? "/images/graphics/thumb1x1.jpg")">
                    </a>
                }
                else
                {
                    <a class="thumb_img thumb_5x4">
                        <img src="/images/graphics/thumb1x1.jpg" alt="">
                    </a>
                }
            </div>
            <div class="article-content">
                <div class="row flex-end">
                    <div class="col-sm-8">
                        <h3 class="title_new">
                            <a class="cursor-pointer" onclick="_hotel.redirectToDetail(this);">
                                @item.name
                            </a>
                        </h3>
                        <div class="on-star">
                            <div class="star">
                                @for (int i = 0; i < (item.star <= 0 ? 0 : item.star); i++)
                                {
                                    <svg class="icon-svg">
                                        <use xlink:href="/images/icons/icon.svg#star">
                                        </use>
                                    </svg>
                                }
                            </div>
                            <a class="lbl">@(item.hotel_type ?? "Khách sạn")</a>
                        </div>
                        <div class="number-vote">
                            @if (@item.review_rate != null)
                            {
                                <span class="point">@item.review_rate</span>
                            }
                            <span>Tuyệt vời (@item.review_count đánh giá)</span>
                        </div>
                        <ul class="service">
                            @if (!string.IsNullOrEmpty(item.state))
                            {
                                <li>
                                    <svg class="icon-svg">
                                        <use xlink:href="/images/icons/icon.svg#address">
                                        </use>
                                    </svg> @item.state
                                </li>
                            }
                            @if (item.is_instantly_confirmed)
                            {
                                <li class="gray">
                                    <img src="/images/icons/lightning2.svg" alt=""> Xác nhận ngay
                                </li>
                            }


                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <div class="price text-right">
                            @if (item.min_price > 0)
                            {

                                @*<div class="sale">-2%</div>*@
                                @*<div class="price-old">2.648.104 đ</div>*@
                                <div class="price-new placeholder">
                                    @(Math.Round(item.min_price / nights, 0).ToString("N0")) đ
                                </div>
                                <div class="gray per-nights">/ <strong>1</strong> Đêm</div>

                            }
                            else
                            {
                                <div class="price-new placeholder">
                                    Giá liên hệ

                                </div>
                                <div class="gray per-nights" style="display:none;">/ <strong>1</strong> Đêm</div>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <p class="no-result radius10 bg-white" style="padding:15px;">@Model.message</p>
}



